# L09 `my_date` Exercise

In [11]:
class my_date():
    def __init__(self, d, m, y):
        self.day = d
        self.month = m
        self.year = y
    def show(self):
        print(self.day,'/',self.month,'/',self.year)

In [12]:
td = my_date(22,8,2018)

In [13]:
td.show()

22 / 8 / 2018

**Q** Change the month attribute so that it is a property.  
Code the setter function so that it produces a message if the month is not an integer between 1 and 12.

In [15]:
class my_date():
    def __init__(self, d, m, y):
        self.day = d
        self.month = m
        self.year = y
    def show(self):
        print(self.day,'/',self.month,'/',self.year)
    @property
    def month(self):
        return self._month
    @month.setter
    def month(self, m):
        if m <= 12 and m >= 1:
            self._month = m
        else:
            print("Month must be between 1 and 12.")

In [16]:
td = my_date(22,8,2018)

In [17]:
td.show()

22 / 8 / 2018

In [18]:
td.month = 0

Month must be between 1 and 12.