## Python Basics

### Variables in Python

**Variable**: A container in memory, which has a unique name or identifier, where you can store information.
Start using the variable by assigning it a value, where the *=* symbol denotes *assignment*.

In [ ]:
x = 100

Python has a number of variable naming rules:
* Can contain both letters and numbers, but must begin with a letter.
* Can contain the underscore character. 
* Must not clash with reserved keywords.

We can display the value in a variable using the *print* function - note the use of parentheses.

In [ ]:
print(x)

Each variable also has a *type*, indicating the nature of the value that it stores.

In [ ]:
x = 100.7
type(x)

In [ ]:
x = "Dublin"
type(x)

In [ ]:
name = "UCD"
type(name)

Numeric data can be *integers* (whole numbers) or *floats* (real values):

In [ ]:
a = 3
b = -125
fx = 0.432
fy = -24.23

*Boolean* values can be indicated by *True* or *False* - case sensitive! Can alternatively we can use '1' and '0'

In [ ]:
answer = True
test_value = False
type(answer)

A *string* value containing text is enclosed within either single quotes or double quotes - make sure you end with the same character:

In [ ]:
some_text = "hello \" world"
moredata = 'university college dublin, ireland'

We also use a special value *None* to indicate a variable containing an empty or "null" value:

In [ ]:
current_value = None

### Operators and Expressions

Python can be used as a simple calculator. It supports all basic mathematical operators, such as +, -, *, /

We can use combinations of these operators and values to create *expressions*, which are the building blocks of Python code.

In [ ]:
a = (2 + 4) * 3
a

In [ ]:
b = a - 2
b

We can also use operators to perform assignment and an operation on the same variable. Note that these lines include *comments* - everything from # onwards is ignored.

In [ ]:
a += 2   # add 2 to the value currently in a and assign it back to a
b -= 1   # subtract 1 from the value currently in b and assign it back to b

Parentheses can be used to control the *order* in which operators are applied:

In [ ]:
4 + 10 / 2  # Division will normally be applied first

In [ ]:
(4 + 10)/2  # Use parenthesis to apply addition first, then division

There are also other operators, such as %,// and ** (modulo, floor division and ‘to the power’)

In [ ]:
3**2

In [ ]:
7%2

In [ ]:
7//2

### Boolean Expressions

Any value or variable in Python can be tested for a 'truth value'. These will yield a value of True or False, depending on what we are testing - e.g. equality, inequality, greater/less than

In [ ]:
x = 75 # don't confuse assignment with equality!

In [ ]:
x == 75 # test for equality

In [ ]:
x == 100 # test for equality

In [ ]:
x != 100 # test for inequality

In [ ]:
test = x <= 1000 # less than
print(test)

In [ ]:
x >= 0 # greater than

Python contains boolean operators to create more complex boolean expressions:
* *not x*: returns True if x is True, False otherwise
* *x and y*: if both x and y are True then return True, otherwise False
* *x or y*: if either x or y are True then return True, otherwise False

In [ ]:
age = 56

In [ ]:
print(age >= 18 and age < 40)

In [ ]:
print(age < 18 or age >= 40)

In [ ]:
True and True

In [ ]:
True and False

In [ ]:
True or False

In [ ]:
not True

In [ ]:
x > 0 and x < 100

# This is a comment

### Strings in Python

Strings are sequences of charatcers, and defined with single or double quotes

In [ ]:
name = "Brian"
company = 'ACME Telephonica Inc'
print(name)
print(company)

Indivudal characters are accessed using square brackets

In [ ]:
name[0]

In [ ]:
company[12]

We can also use ranges to access substrings - string[start:end] - extracts the substring from start up to but not including end

In [ ]:
name[1:4]

We can find the length of a string using the **len** function

In [ ]:
len(name)

### Neat String Operators

Concatenate or repeat strings using **+** or *****

In [ ]:
business_card = name + " from " + company
print(business_card)

In [ ]:
youre_so_vain = name * 10
print(youre_so_vain)

In [ ]:
"The" in company

### Useful String Manipulation Functions

In [ ]:
company = "The Analytics Store      "
company.count("e")
company.isalpha()

In [ ]:
first_e = company.find("e")
first_e
company.find("e", first_e + 1)

In [ ]:
company.split()

In [ ]:
company = company.lower()
company.startswith("th")

In [ ]:
company = 'ACME Telephonica Inc'
company.replace("Inc", "Ltd")

In [ ]:
print(company)

In [ ]:
company = company.replace("Inc", "Ltd")
print(company)