# COMP20230 Lab 4: OOP: Solving Problems with your own Data Structures and Algorithms

20th Febuary 2019

This lab will revise and expand on some of the object oriented programming topics introduced in our lectures on creating classes and objects in Python. Mapping a problem to a class can help identify the data structures needed to store the data described in the problem and develop a solution providing the relavent algorithms.

## Classes, Objects, Methods and Attributes
If you need to brush up on OOP concepts, there are many online tutorials available providing further examples on the topic and these may be useful for revision, e.g.: http://www.python-course.eu/python3\_object\_oriented\_programming.php

Today we are going to code objects for airplanes and a control tower to manage the take off sequence.

## Problem
We need to have an airplane that is identified from other airplanes by its flight number. The airplane needs fuel to fly and can be fuelled up to capacity but needs at least 1000 litres to fly. Before flying, the pilot must request clearance from the tower. The tower will check the flight number against a list of scheduled flights before granting clearance. The tower grants clearance and the pilot then performs a preflight check. If the airplane is properly fuelled and has clearance from the tower it must then take off.

## Exercise: Design Tasks
1. Read and review the problem above. 
2. Write down the classes you will need to create and the attributes and methods that the classes will need. 
3. Remember nouns, verbs, adjectives can often correspond to classes, methods, and attributes. 
4. Draw a flow chart of the takeoff procedure/process. 
5. Move onto the example below and complete the coding exercises section to solve the problem. 

## Example Code to get started
We will start by creating an Airplane class. The basic class code is in the `Aircraft` listing below. The Airplane is an extention of the `Aircraft` class and inherits a number of methods and attributes:

__fuel
_maxFuel
__fuelCheck

The _ _ before the fuel and fuelCheck mark them as private attributes, meaning you cannot access them directly outside the object, only through the objects methods. Why do we do this? So that the `__fuelCheck` attribute is only set when a given amount of fuel has been added and so that the amount of `__fuel` is always a valid amount.

What do we mean by a valid amount? Well, if I set the fuel value directly, I could make it -500 or 100000. As the minimum amount of fuel cannot logically be less than zero or greater than the tank capacity, the method `addFuel(volume)` ensures these boundaries are maintained.

e.g. I could have written the `addFuel(self, volume)` method with one line:
`self.__fuel = self.__fuel + volume`  
But this would not stop incorrect amounts of fuel on the plane or tell me how much was leftover after topping up the plane.

In [1]:
class Aircraft:
    """
    Aircraft class: An Airplane has to be fuelled before it can take off
    """
    __MIN_FUEL = 100 # minimum amount of fuel for takeoff - no matter what aircraft
                     # declared here as a private class variable

    def __init__(self, flightNumber=''):
        self.flightNumber = flightNumber    # you must have a flight number assigned to fly
        self.__fuel = 0                     # private attribute containing current fuel in aircraft
        self.__fuelCheck = False            # this is a boolean flag for a pre-flight check.
        self._maxFuel = self.__MIN_FUEL

    def fuelCheck(self):
        if self.__fuel < self.__MIN_FUEL:
            print("[",self.flightNumber,"] Fuel Check Failed: Current fuel below safe limit:", self.__fuel,
                  " less than ", self.__MIN_FUEL)
            self.__fuelCheck = False
        else:
            print("[",self.flightNumber,"] Fuel Check Complete. Current Fuel Level: ", self.__fuel)
            self.__fuelCheck = True
        return self.__fuelCheck

    def takeOff(self):
        if self.fuelCheck() == True:
            print("[",self.flightNumber,"] Cleared for Takeoff! Fasten your seat-belt!")
        else:
            print("[",self.flightNumber,"] Take off Failed: complete pre-flight fuel check and refuel first")
            print(self.fuelCheck())

    def printFuelLevel(self):
        print("Current fuel:", self.__fuel)

    def addFuel(self, volume):
        unusedFuel = 0

        if volume < 0:
            print("No syphoning fuel!")
        elif self.__fuel + volume <= self._maxFuel:
            self.__fuel = self.__fuel + volume
        elif self.__fuel + volume > self._maxFuel:
            self.__fuel = self._maxFuel
            unusedFuel = volume - self.__fuel
        return unusedFuel

class Airplane(Aircraft):
    '''
    An Airplane is a type of aircraft (it has two wings and can fly)
    '''

    def __init__(self, flightnumber=''):
        Aircraft.__init__(self, flightnumber)
        self._maxFuel=5000
        
class Helicopter(Aircraft):
    '''
    A Helicopter is a type of aircraft (it has a rotor and a smaller fuel capacity than an airplane)
    '''

    def __init__(self, flightnumber=''):
        Aircraft.__init__(self, flightnumber)
        self._maxFuel=1000

Above, we have classes `Airplane` and `Helicopter` that inherit from `Aircraft`. They can use the methods and attributes of the parent Aircraft but they also can have individual custom features (e.g. a different maximum fuel capacity).

We are using our `Aircraft` class to enforce the data structure rules: while fuel is a float data type, I want to constrain the value to valid data for an `Aircraft`. Within the `Helicopter` and `Airplane` subclasses, I further constrain the fuel by setting a `_maxFuel` attribute that will stop it being filled beyond capacity.

# Exercises

## 1. Unit testing and inspecting the code for coverage
Run the test code below to test out the `Aircraft` class. It creates and calls methods on example object instances.

1. Refactor (at least two of) the tests below using the unit test framework introduced last week.
2. Through _code inspection_ (i.e. carrying out a _code review_ of the code under test), comment on the _code coverage_ achieved by the tests below.

In [2]:
aircraft1 = Aircraft('EI100')
airplane2 = Airplane('EI999')
heli1 = Helicopter('HH123')

unusedFuel = aircraft1.addFuel(10000)
print('fuel left over for ', aircraft1.flightNumber,': ',unusedFuel)
unusedFuel = airplane2.addFuel(10000)
print('fuel left over for ', airplane2.flightNumber,': ',unusedFuel)
unusedFuel = heli1.addFuel(10000)
print('fuel left over for ', heli1.flightNumber,': ',unusedFuel)

myjumbo = Airplane('747')
print("About to start preparing ", myjumbo.flightNumber, " for takeoff")
myjumbo.addFuel(30)
myjumbo.fuelCheck()
myjumbo.takeOff()

print("---")

myairbus = Airplane('A330')
print("About to start preparing ", myairbus.flightNumber, " for takeoff")
myairbus.addFuel(2000)
myairbus.fuelCheck()
myairbus.takeOff()

print("---")

myBoeing = Helicopter('HH2')
print("About to start preparing ", myBoeing.flightNumber, " for takeoff")
fuelInTruck = 50000
fuelInTruck = myBoeing.addFuel(fuelInTruck)
myBoeing.fuelCheck()
myBoeing.takeOff()
print("Fuel Truck still has:", fuelInTruck)

fuel left over for  EI100 :  9900
fuel left over for  EI999 :  5000
fuel left over for  HH123 :  9000
About to start preparing  747  for takeoff
[ 747 ] Fuel Check Failed: Current fuel below safe limit: 30  less than  100
[ 747 ] Fuel Check Failed: Current fuel below safe limit: 30  less than  100
[ 747 ] Take off Failed: complete pre-flight fuel check and refuel first
[ 747 ] Fuel Check Failed: Current fuel below safe limit: 30  less than  100
False
---
About to start preparing  A330  for takeoff
[ A330 ] Fuel Check Complete. Current Fuel Level:  2000
[ A330 ] Fuel Check Complete. Current Fuel Level:  2000
[ A330 ] Cleared for Takeoff! Fasten your seat-belt!
---
About to start preparing  HH2  for takeoff
[ HH2 ] Fuel Check Complete. Current Fuel Level:  1000
[ HH2 ] Fuel Check Complete. Current Fuel Level:  1000
[ HH2 ] Cleared for Takeoff! Fasten your seat-belt!
Fuel Truck still has: 49000

# 2. Experimenting with Classes: Converting problems into algorithms and data structures 

These are just some ideas to get you thinking about how you can use objects, classes and inheritance and the different kinds of things you might want to hide through encapsulation. 

1.  Create a new class called `Tower` that has a list of flight numbers as an attribute and a method to modify this list, e.g. `updateFlightList(aFlightList)`. It could contain validation code to ensure all flight numbers in the list are valid (where a valid flight number is two letters followed by 3 or 4 numbers, e.g. EI124 or DL1009). 

2.  Add attributes to the `Aircraft` class for `flightNumber` (a string, e.g. "EI124") and `__flightClearance` (a boolean `True` or `False`).

3.  Add another method to the `Aircraft` class called `preFlightCheck()`.  This method should check the `__fuelCheck` and `__flightClearance` are both set to `True` or otherwise warn you not to take off yet.

4.  Add a method `requestFlightClearance(anAirplane)` to the `Tower` class that takes an `Aircraft` object checks its flight number against its list of flights and gives clearance to take off it the flight is in the list.

5.  Update the tests and create a test including a `dublinTower` instance of the `Tower` class. Add two flight numbers to the tower's flight list and then create an `Aircraft`, assign a flight number, fuel it, get clearance from the tower and take off!


# 3. Computing Distances between geographical co-ordinates

Now that you have your `Aircraft` ready for take-off, it would be useful to know your flight plan and whether you have the range to make it there. Assume your aircraft can fly 1km per litre of fuel. So with a range of 1000km in your helicopter you will not make it from Dublin to Sydney without refuelling.

Write the code to calculate the distance between two points on earth using a direct route, i.e. "as the crow flies". The first thing we need to know how to calculate the distance between two points on Earth, given their co-ordinates (latitude and longitude).

As a slight simplification, we will assume the earth is round (as opposed to geoid). Latitude is a measure of degrees north (positive) or south (negative) from the equator. 0&deg; is at the equator, +90&deg; is the north pole and -90&deg; is the south pole. Longitude is a measure of degrees east (positive) or west (negative) of the prime meridian located at Greenwich, England. 


The formula for the distance, $d$, between position $1$ and $2$ is

$$d_{(1,2)} = arccos(sin \phi_1 sin \phi_2 cos(\theta_1 - \theta_2) + cos \phi_1 cos \phi_2) * r_{earth}$$

where $\phi$ is the angle from pole to position, meaning $90 - latitude$ for points north of the equator and $90 + latitude$ for points south of the equator. \\
$\theta$ is the number of degrees east (positive) or west (negative) from the prime meridian (at Greenwich).

The spherical radius of the earth ($r_{earth}$) can be approximated as 6371 km.

When carrying out calculations on the angles, the latitude and longitude angles should be converted from degrees into radians. So,

$$\phi_{radians} = \phi_{degrees} \times \frac{2\pi}{360}$$



1. You will need to import the math module to get access to constants (e.g. \texttt{math.pi}) and trigonometric functions (e.g. \texttt{sin, cos, acos})
2. You should write a function that takes the latitude and longitude for 2 positions and returns the distance between them in kilometres e.g.

`float getDistanceBetweenCoordinates(lat1, long1, lat2, long2)`

3. You can test your code using the example airport co-ordinates given in Table 1
4. Round the answers to the nearest km. See Table 2 for distances calculated using the formula given and rounded to the nearest km by casting as an `int`
5. Write a function to find the distance between all airports in Table 1. Use a List to store the data from Table 1 in your program or create your own ADT for storing a set of \texttt{Airport} objects.

6. Give two airport codes, calculate the distance between them. Write a function that returns the distance between two airports that takes two codes as input parameters, e.g. \\

`getDistanceBetweenAirports(airportCode1,airportCode2)}.\\ Use lists to store the values in the test table.`

7. Rewrite your function, `getDistanceBetweenAirports`, to run without any loops. You might need to store your data in a different way that allows you to lookup a value given a name. **Hint:** A `Dictionary` is a good choice of data structure here. Dictionaries are a form of hash table - we will be looking at how they are implemented in a few weeks time.

## Sample Airport Co-ordinates

<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>airportname</th>      <th>country</th>      <th>lat</th>      <th>long</th>    </tr>  </thead>  <tbody>    <tr>      <th>JFK</th>      <td>John F Kennedy Intl</td>      <td>United States</td>      <td>40.639751</td>      <td>-73.778925</td>    </tr>    <tr>      <th>AAL</th>      <td>Aalborg</td>      <td>Denmark</td>      <td>57.092789</td>      <td>9.849164</td>    </tr>    <tr>      <th>CDG</th>      <td>Charles De Gaulle</td>      <td>France</td>      <td>49.012779</td>      <td>2.550000</td>    </tr>    <tr>      <th>SYD</th>      <td>Sydney Intl</td>      <td>Australia</td>      <td>-33.946111</td>      <td>151.177222</td>    </tr>    <tr>      <th>LHR</th>      <td>Heathrow</td>      <td>United Kingdom</td>      <td>51.477500</td>      <td>-0.461389</td>    </tr>    <tr>      <th>DUB</th>      <td>Dublin</td>      <td>Ireland</td>      <td>53.421333</td>      <td>-6.270075</td>    </tr>    <tr>      <th>ARN</th>      <td>Arlanda</td>      <td>Sweden</td>      <td>59.651944</td>      <td>17.918611</td>    </tr>    <tr>      <th>SIN</th>      <td>Changi Intl</td>      <td>Singapore</td>      <td>1.350189</td>      <td>103.994433</td>    </tr>    <tr>      <th>AMS</th>      <td>Schiphol</td>      <td>Netherlands</td>      <td>52.308613</td>      <td>4.763889</td>    </tr>    <tr>      <th>SFO</th>      <td>San Francisco Intl</td>      <td>United States</td>      <td>37.618972</td>      <td>-122.374889</td>    </tr>  </tbody></table>





# Distance between airports (to nearest km)

<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>JFK</th>      <th>AAL</th>      <th>CDG</th>      <th>SYD</th>      <th>LHR</th>      <th>DUB</th>      <th>ARN</th>      <th>SIN</th>      <th>AMS</th>      <th>SFO</th>    </tr>  </thead>  <tbody>    <tr>      <th>JFK</th>      <td>0</td>      <td>5966</td>      <td>5833</td>      <td>16013</td>      <td>5539</td>      <td>5103</td>      <td>6291</td>      <td>15340</td>      <td>5847</td>      <td>4151</td>    </tr>    <tr>      <th>AAL</th>      <td>5966</td>      <td>0</td>      <td>1021</td>      <td>16140</td>      <td>913</td>      <td>1096</td>      <td>549</td>      <td>10131</td>      <td>623</td>      <td>8572</td>    </tr>    <tr>      <th>CDG</th>      <td>5833</td>      <td>1021</td>      <td>0</td>      <td>16944</td>      <td>347</td>      <td>784</td>      <td>1539</td>      <td>10724</td>      <td>398</td>      <td>8962</td>    </tr>    <tr>      <th>SYD</th>      <td>16013</td>      <td>16140</td>      <td>16944</td>      <td>0</td>      <td>17020</td>      <td>17215</td>      <td>15597</td>      <td>6293</td>      <td>16658</td>      <td>11949</td>    </tr>    <tr>      <th>LHR</th>      <td>5539</td>      <td>913</td>      <td>347</td>      <td>17020</td>      <td>0</td>      <td>448</td>      <td>1461</td>      <td>10883</td>      <td>370</td>      <td>8615</td>    </tr>    <tr>      <th>DUB</th>      <td>5103</td>      <td>1096</td>      <td>784</td>      <td>17215</td>      <td>448</td>      <td>0</td>      <td>1624</td>      <td>11208</td>      <td>750</td>      <td>8183</td>    </tr>    <tr>      <th>ARN</th>      <td>6291</td>      <td>549</td>      <td>1539</td>      <td>15597</td>      <td>1461</td>      <td>1624</td>      <td>0</td>      <td>9657</td>      <td>1152</td>      <td>8601</td>    </tr>    <tr>      <th>SIN</th>      <td>15340</td>      <td>10131</td>      <td>10724</td>      <td>6293</td>      <td>10883</td>      <td>11208</td>      <td>9657</td>      <td>0</td>      <td>10513</td>      <td>13581</td>    </tr>    <tr>      <th>AMS</th>      <td>5847</td>      <td>623</td>      <td>398</td>      <td>16658</td>      <td>370</td>      <td>750</td>      <td>1152</td>      <td>10513</td>      <td>0</td>      <td>8785</td>    </tr>    <tr>      <th>SFO</th>      <td>4151</td>      <td>8572</td>      <td>8962</td>      <td>11949</td>      <td>8615</td>      <td>8183</td>      <td>8601</td>      <td>13581</td>      <td>8785</td>      <td>0</td>    </tr>  </tbody></table>

## Solutions

In [3]:
from math import pi,sin,cos,acos,floor

airports={"JFK":("John F Kennedy Intl","United States",40.639751,-73.778925),
"AAL":("Aalborg","Denmark",57.092789,9.849164),
"CDG":("Charles De Gaulle","France",49.012779,2.55),
"SYD":("Sydney Intl","Australia",-33.946111,151.177222),
"LHR":("Heathrow","United Kingdom",51.4775,-0.461389),
"DUB":("Dublin","Ireland",53.421333,-6.270075),
"ARN":("Arlanda","Sweden",59.651944,17.918611),
"SIN":("Changi Intl","Singapore",1.350189,103.994433),
"AMS":("Schiphol","Netherlands",52.308613,4.763889),
"SFO":("San Francisco Intl","United States",37.618972,-122.374889)}

In [4]:
import pandas as pd
airportsdf=pd.DataFrame.from_dict(airports, orient='index', columns=['airportname','country','lat','long'])
airportsdf

             airportname         country        lat        long
JFK  John F Kennedy Intl   United States  40.639751  -73.778925
AAL              Aalborg         Denmark  57.092789    9.849164
CDG    Charles De Gaulle          France  49.012779    2.550000
SYD          Sydney Intl       Australia -33.946111  151.177222
LHR             Heathrow  United Kingdom  51.477500   -0.461389
DUB               Dublin         Ireland  53.421333   -6.270075
ARN              Arlanda          Sweden  59.651944   17.918611
SIN          Changi Intl       Singapore   1.350189  103.994433
AMS             Schiphol     Netherlands  52.308613    4.763889
SFO   San Francisco Intl   United States  37.618972 -122.374889

In [5]:
def distanceBetweenAirports(latitude1,longitude1,latitude2,longitude2):
    """ Calculates the distance from a second airport and returns it as a float """
    # Distance = arccos (sin phi1 sin phi2 cos(theta1 - theta2) + cos phi1 cos phi2) * radius_of_earth
    # angles are converted from degrees to radians
    if latitude1 == latitude2 and longitude1 == longitude2:
        return 0
    else:
        radius_earth = 6371  # km
        theta1 = longitude1 * (2 * pi) / 360
        theta2 = longitude2 * (2 * pi) / 360
        phi1 = (90 - latitude1) * (2 * pi) / 360
        phi2 = (90 - latitude2) * (2 * pi) / 360
        distance = acos( sin(phi1) * sin(phi2) * cos(abs(theta1 - theta2)) +  cos(phi1) * cos(phi2) ) * radius_earth
        return floor(distance)

The formula for the distance, $d$, between position $1$ and $2$ is

$$d_{(1,2)} = arccos(sin \phi_1 sin \phi_2 cos(\theta_1 - \theta_2) + cos \phi_1 cos \phi_2) * r_{earth}$$

where $\phi$ is the angle from pole to position, meaning $90 - latitude$ for points north of the equator and $90 + latitude$ for points south of the equator. \\
$\theta$ is the number of degrees east (positive) or west (negative) from the prime meridian (at Greenwich).

The spherical radius of the earth ($r_{earth}$) can be approximated as 6371 km.

When carrying out calculations on the angles, the latitude and longitude angles should be converted from degrees into radians. So,

$$\phi_{radians} = \phi_{degrees} \times \frac{2\pi}{360}$$

In [6]:
airport1=airports.get('DUB')
airport2 = airports.get('SYD')
lat1=airport1[2]
long1 = airport1[3]
lat2 = airport2[2]
long2 = airport2[3]
print( distanceBetweenAirports(lat1,long1,lat2,long2))

17215

In [7]:
airportcodes=list(airports)
airportdists=pd.DataFrame()
for i, airport_code1 in enumerate(airportcodes):
    airport1 = airports[airport_code1]
    dists=[]
    for j, airport_code2 in enumerate(airportcodes):
        airport2 = airports[airport_code2]
        dists.append(distanceBetweenAirports(airport1[2],airport1[3],airport2[2],airport2[3]))
    airportdists[i]=dists
airportdists.columns=airportcodes
airportdists.index=airportcodes

In [8]:
import tabulate # pip install tabulate
from IPython.display import HTML, display
display(HTML(tabulate.tabulate(airportdists, tablefmt='html')))

In [9]:
# Usefule way to put your dataframe output in a notebook markdown cell
# airportsdf.to_html()