# COMP 10020 Introduction to Programming 2 
## Lab 0 - Getting Started

### Question 1

Write a program which asks the user to type in a whole number, and tells the user whether that number is odd or even.

**Hint:** The *input* function reads input from the user. For example:

```python
num = input('Please enter a number:')
```

After you read input from a user you should convert it to an integer using the *int* function. For example:

```python
num = int(num)
```

In [24]:
num = input('Please enter a number:')
num = int(num)
if(num % 2 == 0 ):
    print("Your number is even")
else:
    print("Your number is odd")

Please enter a number:45
Your number is odd

### Question 2

Write a program which prints out all numbers between 100 and 1204 (both included) that are divisible by 7 but are not a multiple of 5.

In [25]:
for i in range(100, 1205):
    if (i%7 == 0) and (i%5 != 0):
        print(i)

112
119
126
133
147
154
161
168
182
189
196
203
217
224
231
238
252
259
266
273
287
294
301
308
322
329
336
343
357
364
371
378
392
399
406
413
427
434
441
448
462
469
476
483
497
504
511
518
532
539
546
553
567
574
581
588
602
609
616
623
637
644
651
658
672
679
686
693
707
714
721
728
742
749
756
763
777
784
791
798
812
819
826
833
847
854
861
868
882
889
896
903
917
924
931
938
952
959
966
973
987
994
1001
1008
1022
1029
1036
1043
1057
1064
1071
1078
1092
1099
1106
1113
1127
1134
1141
1148
1162
1169
1176
1183
1197
1204

### Question 3

Write a function to convert an exam mark into a grade using the following conversation table
* A: 85 - 100 
* B: 70 - 85
* C: 55 - 70
* D: 40 - 55
* F: 0 - 40

In [26]:
# Write code here!
def mark_to_grade(mark):
    grade = ""
    if mark >= 85:
        grade = "A"
    elif mark >= 70:
        grade = "B"
    elif mark >= 55:
        grade = "C"
    elif mark >= 40:
        grade = "D"
    else:
        grade = "F"
        
    return grade

Read a mark from the user and convert it into a grade using the function defined.

In [27]:
# Write code here!
mark = input("Enter your mark: ")
mark = int(mark)

if(mark < 0 or mark > 100):
    print("Sorry marks must be between 0 and 100")
else:
    grade = mark_to_grade(mark)
    print(grade)

Enter your mark: 67
C

### Question 4

The following code snippet generates a list of 20 unique random numbers between 0 and 50 (inclusive).

In [28]:
import random
l = random.sample(range(0, 51), 20)
print(l)

[36, 14, 38, 48, 39, 0, 33, 23, 10, 8, 19, 28, 4, 27, 18, 40, 45, 50, 9, 26]

Write a piece of python code that generates a new list that contains the elements from the list that are **less than 25**

In [29]:
# Write code here!
new_list = []

for i in l:
    if i < 25:
        new_list.append(i)

print(new_list)

[14, 0, 23, 10, 8, 19, 4, 18, 9]

###Â Question 5

The file names.txt contains a list of names (one name per line). Write a program that reads all of the names from the file and stores them in a list. Then print out all of the unique names in the list (i.e. instead of printing the list print each name in the list just once). 

**Hint:** The following line will iterate through the lines in a file: 
```python
for line in open("names.txt"):
```

**Hint:** Can you convert a list to a data structure that does not allow duplicates?

In [30]:
# Write code here!

# Make an empty list for names
names = list()

# Iterate through each line in the file
for line in open("names.txt"):
    # Strip whitespace (removes carriage return character)
    line = line.strip()
    
    # Add each word to the list
    names.append(line)

# Print the names list
print(names)

# Convert the names list to a set to access the unique names
unique_names = set(names)
print(unique_names)

sorted_names = list(unique_names)
sorted_names.sort()
print(sorted_names)

['Barbara', 'Mary', 'George', 'Daniel', 'Elizabeth', 'Abigail', 'Mary', 'Dorothy', 'Mary', 'Mary', 'George', 'George', 'Daniel', 'George', 'James', 'Mary', 'Mary', 'Mary', 'Patricia', 'James', 'James', 'George', 'Charles', 'Barbara', 'Elizabeth', 'James', 'James', 'Dorothy', 'Patricia', 'Patricia', 'James', 'Barbara', 'Mary', 'Mary', 'Daniel', 'George', 'Barbara', 'Charles', 'Barbara', 'Barbara', 'Elizabeth', 'Elizabeth', 'Abigail', 'Barbara', 'Daniel', 'George', 'Ringo', 'Patricia', 'Daniel', 'Daniel']
{'Dorothy', 'Ringo', 'Abigail', 'Daniel', 'Elizabeth', 'Mary', 'George', 'Barbara', 'James', 'Patricia', 'Charles'}
['Abigail', 'Barbara', 'Charles', 'Daniel', 'Dorothy', 'Elizabeth', 'George', 'James', 'Mary', 'Patricia', 'Ringo']

### Question 6

The file names.txt contains a list of names (one name per line). Write a program that reads all of the names from the file and uses a dictionary to count the occurrence of each name. Print out the number of times each name appears.

In [31]:
# Write code here!

# Make an empty dictionary for names
names = dict()

# Iterate through each line in the file
for line in open("names.txt"):
    # Split each line into words (removes carriage return character)
    word = line.strip()
    # Check if the current name is already in the dictionary
    if(word not in names):
        # If the current name isn't al
        names[word] = 1
    else:
        names[word] = names[word] + 1

# Print the names list
print(names)
keys = list(names.keys())
keys.sort()
for k in keys:
    print(k + " " + str(names[k]))

{'Barbara': 7, 'Mary': 9, 'George': 7, 'Daniel': 6, 'Elizabeth': 4, 'Abigail': 2, 'Dorothy': 2, 'James': 6, 'Patricia': 4, 'Charles': 2, 'Ringo': 1}
Abigail 2
Barbara 7
Charles 2
Daniel 6
Dorothy 2
Elizabeth 4
George 7
James 6
Mary 9
Patricia 4
Ringo 1